@charset "UTF-8";

/*-------------------------------------------
common
-------------------------------------------*/
html {
  font-size: 100%;
}

body {
  color: #2b2a27;
  font-size: .75rem;
  font-family: "Raleway", sans-serif;
}

a {
  color: #2b2a27;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: normal;
}

.site_title {
  width: 110px;  
  line-height: 1px;
  margin: 0 auto 36px;
}

.site_title a {
  display: block;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/*-------------------------------------------
header
-------------------------------------------*/
#header {
  max-width: 1000px;
  padding: 46px 60px 26px;
  margin: 0 auto 50px;
  border-bottom: 1px solid #ccc;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header nav .menu,
#header .login {
  display: flex;
}

#header .menu li {
  margin-right: 14px;
}

#header .login li {
  margin-left: 14px;
}
/*-------------------------------------------
item
-------------------------------------------*/
#item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

#item .image {
  max-width: 400px;
  flex-shrink: 0;
  height: 500px;
}

#item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-------------------------------------------
info
-------------------------------------------*/
#item .info {
  padding-left: 60px;
}

#item .info .item_title {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  font-size: 1rem;
  margin-bottom: 20px;
}

#item .info p {
  margin-bottom: 30px;
  line-height: 1.9;
}

#item .info .order_table {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

/* テーブルの列ごとの幅を指定 */
#item .info .order_table .color, 
#item .info .order_table .size{
  width: 20%;
}

#item .info .order_table .space {
  width: 60%;
}

#item .info .order_table th,
#item .info .order_table td {
  /* 1.縦の線を表示 */
  border-right: 1px solid #ccc;
  padding: 10px;
}

#item .info .order_table td {
  /* 2.横の線を表示 */
  border-top: 1px solid #ccc;
}

#item .info .order_table th:last-child,
#item .info .order_table td:last-child {
  /* 3.右端の縦線を消去 */
  border-right: none;
}

#item .info .order_table select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0 10px;
  /* セレクトボックス右端の矢印表示 */
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

#item .info .cart_btn {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#item .info .cart_btn a {
  display: block;
  line-height: 1;
  background-color: #4B4B4B;
  color: #fff;
  padding: 18px 0;
}

#item .info .size_table {
  width: 100%;
  text-align: center;
}

/* テーブルの列ごとの幅を指定 */
#item .info .size_table .size {
  width: 16%;
}

#item .info .size_table .chest, 
#item .info .size_table .weist, 
#item .info .size_table .height {
  width: 28%;
}

#item .info .size_table th,
#item .info .size_table td:first-child {
  background-color: #ecebeb;
}

#item .info .size_table th,
#item .info .size_table td {
  border: 1px solid #ccc;
  padding: 10px;
}
/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  width: 100%;
  text-align: center;;
  padding: 10px 0;
}

#footer .copyright {
  font-size: .5rem;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 896px) {

  /*-------------------------------------------
  common
  -------------------------------------------*/
  .site_title {
    margin-bottom: 26px;
  }

  /*-------------------------------------------
  header
  -------------------------------------------*/
  #header {
    border-bottom: none;
    padding: 36px 16px 16px;
    margin: 0;
  }
  
  #header nav {
    overflow-x: scroll;
  }
  /*-------------------------------------------
  item
  -------------------------------------------*/
  #item {
    flex-direction: column;
  }
  /*-------------------------------------------
  image
  -------------------------------------------*/
  #item .image {
    max-width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  /*-------------------------------------------
  info
  -------------------------------------------*/
  #item .info {
    padding: 0 16px;
  }
}